@inherits LayoutComponentBase
@using U_Mod.Shared 


<MediaQueryList>
    <Layout Sider="true">
        <LayoutSider>
            <LayoutSiderContent>
                <NavMenu />
            </LayoutSiderContent>
        </LayoutSider>
        <Layout>
            <LayoutHeader Fixed="true">

            </LayoutHeader>
            <LayoutContent>
                <div class="preview-warning">
                    WEBSITE IN PREVIEW
                </div>
                @Body
            </LayoutContent>
            <LayoutFooter>
                <div class="text-right" style="padding:5px">
                    Created by Stuart Aitken, © U-Mod @DateTime.Now.Year.ToString() <Blazorise.Link To="@Constants.Pages.Admin">Admin</Blazorise.Link>
                </div>
            </LayoutFooter>
        </Layout>
    </Layout>
</MediaQueryList>
