
@page "/credits"

<div class="umod-main-body">
    <h2>Credits</h2>
    <hr />
    <p>
        The below list is to give credit for everyone behind U-Mod, including all he creators of the mods themselves.
    </p>
</div>

@code {

}
