
@page "/installer"

<div id="installer-page" class="umod-main-body">
    <h2>U-Mod Installer</h2>
    <hr />
    <br />

    <h5>Your mod installing companion</h5>

    <br />

    <div class="preview-warning" style="margin-bottom:30px">
        <p>
            <span style="font-size:large">CIVIL DEFENCE ALERT!</span>
        </p>
        <p>
            This is the first functioning iteration of Stuart And Bryce's U-Mod launcher.
        </p>
        <p>
            For the time being, only Fallout is available. This is because it is easier to work with and 
            we wanted to get something released ASAP.
        </p>
        <p>
            Currently the pack comes as a whole and can't be altered. In the future we are working
            towards in-depth user control and the ability for users to create their very own mod packs! And of course Oblivion.
        </p>
        <p>
            Thank You for choosing U-Mod. Enjoy your stay.
        </p>
    </div>

    <p>
        U-Mod is a simple utility application designed to complete the lengthy and complex task of
        adding new mods to your favourite Bethesda games.
    </p>

    <p>
        Installing mods manually requires meticulous unzipping and transferring of possibly thousands
        of files, taking several hours with a large risk of making a mistake along the way.
    </p>

    <p>
        U-Mod removes the risk and does all the work for you.
    </p>

    <div class="text-center">
        <Button class="umod-btn" Clicked="GetInstaller">Download U-Mod</Button>
    </div>

    <div class="text-center">
        <Blazorise.Image Class="img-fluid mod-installer-screenshot" Source="@ServerHelpers.ImageSrcString("general/u-mod-screenshot-2.png")" />
    </div>

    <hr />

    <h5>U-Mod Features</h5>

    <ul>
        <li>Automatic install your desired mods from our specially curated mod lists</li>
        <li>Automatic download of mods*</li>
        <li>Back-up of your original game files, so any problems can easily be reverted back</li>
    </ul>

    <div class="small">
        *Automatic download requires a Nexus premium account. If you do not have a Nexus premium account,
        the installer also offers a manual download option.
    </div>

    <div class="text-center">
        <Button class="umod-btn" Clicked="GetInstaller">Download U-Mod</Button>
    </div>

</div>

@code {

    [Inject]
    IJSRuntime ThisJsRuntime { get; set; }

    [Inject]
    IAnalytics Analytics { get; set; }

    private async void GetInstaller()
    {
        await Analytics.TrackEvent("Downloaded U-Mod", U_Mod.Shared.Constants.Constants.InstallerVersion);
        await ThisJsRuntime.InvokeVoidAsync("getFile", "U_Mod-Setup.exe");
    }

}
