
@page "/installer"

<div class="umod-main-body">
    <h3>U-Mod Installer</h3>

    <br/>

    <div class="text-center">
        <Blazorise.Image Class="img-fluid mod-installer-screenshot" Source="@ServerHelpers.ImageSrcString("general/u-mod-screenshot.png")" />
    </div>
    
    <Button class="umod-btn" Clicked="GetInstaller">Get Installer</Button>
</div>

@code {

    [Inject]
    IJSRuntime ThisJsRuntime { get; set; }


    private async void GetInstaller()
    {
        await ThisJsRuntime.InvokeVoidAsync("getFile", "U_Mod-Setup.exe");
    }
}
