
@page "/installer"

<div id="installer-page" class="umod-main-body">
    <h2>U-Mod Installer</h2>
    <hr />
    <br />

    <h5>Your mod installing companion</h5>

    <br />

    <div class="preview-warning" style="margin-bottom:30px">
        <p>
            <span style="font-size:large">INFO</span>
        </p>
        <p>
            Skyrim is READY!
        </p>
        <p>
            The Skyrim mod pack is designed to work against Anniversary Edition. It might be possible to run it against
            Special Edition, but you will need to manually add the correct version of SKSE for it to run. If you have any questions
            about that, you can ask for help in the
            <span>
                <Blazorise.Link To="@U_Mod.Shared.Constants.Constants.DiscordLink" Target="Target.Blank">
                    U-Mod Discord
                </Blazorise.Link>
            </span>
        </p>
        <p>
            Thank You for choosing U-Mod!
        </p>
    </div>

    <p style="font-weight:bold; font-size:large">
        U-Mod is a simple utility application designed to install specially curated mod packs for your favourite Bethesda games.
    </p>

    <p>
        Depending on your game and/or the mods you want to add, the process of installing mods can be a tricky and meticulous process.
    </p>

    <p>
        U-Mod does all the work for you.
    </p>

    <div class="text-center">
        <Button class="umod-btn" Clicked="GetInstaller">Download U-Mod</Button>
    </div>

    <div class="text-center">
        <Blazorise.Image Class="img-fluid mod-installer-screenshot" Source="@ServerHelpers.ImageSrcString("general/u-mod-screenshot-2.png")" />
    </div>

    <hr />

    <h5>U-Mod Features</h5>

    <ul>
        <li>Automatic install your desired mods from our specially curated mod lists</li>
        <li>Automatic download of mods*</li>
        <li>Back-up of your original game files, so any problems can easily be reverted back</li>
    </ul>

    <div class="small">
        *Automatic download requires a Nexus premium account. If you do not have a Nexus premium account,
        the installer also offers a manual download option.
    </div>

    <div class="text-center">
        <Button class="umod-btn" Clicked="GetInstaller">Download U-Mod</Button>
    </div>

</div>

@code {

    [Inject]
    IJSRuntime ThisJsRuntime { get; set; }

    [Inject]
    IAnalytics Analytics { get; set; }

    private async void GetInstaller()
    {
        await Analytics.TrackEvent("Downloaded U-Mod", U_Mod.Shared.Constants.Constants.InstallerVersion);
        await ThisJsRuntime.InvokeVoidAsync("getFile", "U_Mod-Setup.exe");
    }

}
