
@page "/help/mod-organizer/mcm"

<div class="umod-main-body">
    <h2>Help - Mod Configuration Manager</h2>
    <hr />
    <p>
        First install Mod Organizer, launch it and follow the wizard for creating a new instance.
    </p>
    <div class="mod-organizer-step" style="background: #a04d13;">
        <h5>
            FOR NEW VEGAS INSTALLS ONLY
        </h5>
        <p>
            If you are installing mods for New Vegas, you will need to manually add the Mod Configuration Menu.
        </p>
        <p>
            Do this by clikcing the Install Mod button, then navigate to your New Vegas game folder and select <span style="color:var(--yellow)">The Mod Configuration Menu.fomod</span>
        </p>

        <Image Class="img-fluid" Source="@ServerHelpers.ImageSrcString("games/fallout/mod-organizer1-3.jpg")" />

        <p>
            In the small window that appears, click Start
        </p>

        <Image Class="img-fluid" Source="@ServerHelpers.ImageSrcString("games/fallout/mod-organizer1-4.jpg")" />

        <p>
            Finally, click on Install.
        </p>

        <Image Class="img-fluid" Source="@ServerHelpers.ImageSrcString("games/fallout/mod-organizer1-5.jpg")" />

        <p>
            <span style="color:var(--yellow)">The Mod Configuration Menu</span> should now appear on the left hand pane in the main Mod Organizer window.
        </p>
    </div>
</div>
