@page "/interactive"

@inject NavigationManager Navigate

<div class="umod-main-body">
    <h3>InteractiveMenu</h3>
    <hr />
    <div id="umod-home-menu" class="text-center">
        <Button Type="ButtonType.Button" Clicked="@(() => Navigate.NavigateTo(Constants.Pages.DodgerGame))" Class="umod-btn">Dodger Game</Button>
    </div>
</div>

@code {

}
