@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

:root {
    --blue: #778b8f;
    --darker-blue: #5f7073;
    --green: green;
    --lightgreen: lightgreen;
    --black: #444444;
    --yellow: #ffc107;
}

/*Blazorise override*/
.b-bar-vertical-inline.b-bar-dark .b-bar-link.active, .b-bar-vertical-popout.b-bar-dark .b-bar-link.active, .b-bar-vertical-small.b-bar-dark .b-bar-link.active {
    color: white;
    background: var(--dark);
}

.preview-warning {
    background: yellow;
    color: black;
    font-weight: bold;
    padding: 5px;
}

html, body {
    font-family: Verdana, Geneva, Tahoma, sans-serif, Helvetica, Arial, sans-serif;
    background: var(--blue);
    color: white;
}
.svg-white {
    filter: invert(100%) sepia(0%) saturate(7498%) hue-rotate(98deg) brightness(115%) contrast(101%);
}
.svg-blue {
    filter: invert(63%) sepia(22%) saturate(7196%) hue-rotate(185deg) brightness(101%) contrast(102%);
}
.svg-black {
    filter: invert(0%) sepia(3%) saturate(0%) hue-rotate(282deg) brightness(107%) contrast(100%)
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.umod-btn {
    background: var(--blue);
    color: white;
    border: 1px solid white;
    width: 150px;
    height: 34px;
    padding: 0;
    border-radius: 1px;
}
    .umod-btn:hover {
        background: white;
        color: var(--blue);
    }

.umod-bar-item{

}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }



#menu-toggle {
    width: 50px;
    height: 50px;
    position: fixed;
    right: 33px;
    top: 13px;
    background: var(--lightgreen);
    border-radius: 10px;
    padding: 3px;
    box-shadow: -1px 2px 6px 1px grey;
    cursor: pointer;
}

.menu-icon {
    height: 30px;
    width: 30px;
}

.b-layout-sider{
    background: var(--blue);
}
.b-bar-vertical-inline.b-bar-dark, .b-bar-vertical-popout.b-bar-dark, .b-bar-vertical-small.b-bar-dark {
    background: var(--blue);
}

.umod-main-body {
    padding: 5% 100px;
    max-width: 1100px;
}

.mod-installer-screenshot {
    border: 2px solid whitesmoke;
    box-shadow: -3px 5px 28px 3px grey;
    margin: 2%;
    max-width: 500px;
}

.ultra-wide {
    max-width: 1800px;
}

#installer-page .umod-btn{
    margin: 25px auto;
}

.help-title {
    color: white !important;
    font-weight: bold;
    font-size: 25px;
    text-decoration: underline;
}

    .help-title a {
        color: white !important;
    }

.help-text {
    color: white;
    font-weight: bold;
}

.faq-section {
    color: var(--black);
}

.faq-title {
    font-weight: bold;
    font-size: large;
    font-style: italic;
}

.faq-text {
    margin-top: 25px;
}

#help-page #help-links-table img {
    max-width: 100px;
}

#help-trouble-shooting-section h5 button {
    width: 100%;
    text-align: left;
}

#games-page img{
    max-width:250px;
    margin:auto;
}
#games-page button {
    margin: 25px auto;
}

#umod-home-menu button {
    margin: 15px auto;
    display: block;
    width: 230px;
}

.hover-pointer{
    cursor:pointer;
}

.dev-tool-mod-name{
    padding:2px;
}
.dev-tool-mod-name:hover{
    background: var(--darker-blue);
    color:white;
}
.dev-tool-mod-selected-True{
    background: var(--darker-blue);
}
.dev-tool-selected-mod-area {
    padding: 2px;
    background: white;
    border-radius:6px;
    box-shadow: initial;
    font-size: 12px;
}
    .dev-tool-selected-mod-area input {
        font-size: 13px;
        height: 27px;
    }
    .dev-tool-selected-mod-area .custom-select {
        margin: 4px auto;
        height: 27px;
        font-size: 13px;
        padding: 0 10px;
    }
.dev-tool-mod-data-table td {
    padding: 3px;
    vertical-align: middle;
    border-top: none;
    color: var(--gray-dark);
}
.dev-tool-zip-file-name {
    color: var(--cyan);
    padding: 2px;
    border-bottom: 1px solid lightgray;
}
    .dev-tool-zip-file-name:hover {
        background: #dadada;
    }
.dev-tool-zip-file-selected-True {
    background: #dadada;
}
.dev-tool-zip-type-unknown{
    border: 1px solid red;
}
.dev-tool-overflow-scroll {
    overflow-y: auto;
    height: calc(100vh - 290px);
}
.dev-tool-file-contents {
    padding: 2px;
}
#dev-tool-main-area {
    padding: 10px 0 0 10px;
    border: 1px solid var(--darker-blue);
    border-radius: 6px;
}
#dev-tool-page .btn-danger {
    margin: 1px;
    font-size: 10px;
    padding: 4px 14px
}

.mod-organizer-step {
    padding: 10px;
    background: var(--darker-blue);
    margin-bottom: 30px;
}
@media(max-width:767px) {
    .umod-main-body {
        min-width: calc(100vw - 65px);
        padding: 5%;
    }
    .mod-installer-screenshot {
        margin: 0;
        max-width: 100%;
    }
}